body {
    background-color: rgb(66, 58, 58);
}

.kitchen {
    display: flex;
    gap: 18px;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

}

.actus {
    display: flex;
    justify-content: center;
    color: antiquewhite;
}

.align {
    display: flex;
    justify-content: center;
    text-align: center;
}

.marginb {
    margin-bottom: 40px;
}

.colorwhite {
    color: antiquewhite;
}

.backblack {
    background-color: rgb(22, 20, 20);
}

.empty {
    height: 50px;
}

.body {
    min-height: 70vh;
}

.img {
    max-height: 500px;
    max-width: 500px;
    border-radius: 50px;
}